
<%= form_with scope: :search, url: 'movies', method: :get, local: true do |form| %>
    <p>
    <%= form.text_field :title, :placeholder => '映画、ドラマの名前' %>
    <%= form.submit 'さがす' %>
    </p>
<% end %>
